<div id="new-data-page" v-cloak>

  <main>
    <h1 style="text-align: center; margin-top: 50px;"><%= projectTitle %></h1>
    <p style="text-align: center;"><%= projectSubtitle %></p>
    <!-- <image :src="project.image" alt="data diary image" style="width: 100%; height: 300px; object-fit: cover; margin-bottom: 20px"/> -->
    <div style="background-color: lightgray; width: 100%; height: 300px; margin-bottom: 20px "><i class="fa fa-picture-o" style="position: absolute; right: 50%; margin-top: 140px;"></i></div>

      
    <div class="d-flex justify-content-around">
      <div class="project-steps" style="padding: 10px; flex: 1; text-align: center;">
        <h2 style="font-size: 24px">THE CHALLENGE</h2>
        <p style="font-size: 14px"><%= challenge %></p>
      </div>
      <div class="project-steps" style="padding: 10px; flex: 1; text-align: center;">
        <h2 style="font-size: 24px">THE OUTCOME</h2>
        <p style="font-size: 14px"><%= outcome %></p>
      </div>
      <div class="project-steps" style="padding: 10px; flex: 1; text-align: center;">
        <h2 style="font-size: 24px">THE IMPACT</h2>
        <p style="font-size: 14px"><%= impact %></p>
      </div>
    </div>

    <div style="margin-top: 40px; padding: 0px 30px 0px 30px; margin-bottom: 100px">
      <h2 style="font-size: 24px; text-align: center;"><%= mainTitle1 %></h2>
      <p style="text-align: center;"><%= mainContent1 %></p>
      <div style="height: 200px; width: 500px; background-color: lightgray; margin: auto auto;"><i class="fa fa-picture-o" style="margin-left: 240px; margin-top: 90px;"></i></div>
    </div>

    <div style="margin-top: 40px; padding: 0px 30px 0px 30px; margin-bottom: 100px">
      <h2 style="font-size: 24px; text-align: center;"><%= mainTitle2 %></h2>
      <p style="text-align: center;"><%= mainContent2 %></p>
    </div>

    <div style="margin-top: 40px; padding: 0px 30px 0px 30px; margin-bottom: 100px">
      <h2 style="font-size: 24px; text-align: center;">Next Steps</h2>
      <p style="text-align: center;"><%= nextSteps %></p>
    </div>

    <div style="margin-top: 40px; padding: 0px 30px 0px 30px; margin-bottom: 100px">
      <h2 style="font-size: 24px; text-align: center; margin-bottom: 30px;">Team Members</h2>
      <p class="d-flex justify-content-around">
        <% for (let member of members) { %>
          <team-member
          fname="<%= member.firstName %>"
          lname="<%= member.lastName %>"
          role="<%= member.role %>"
        ></team-member>
        <% } %>
        </p>
    </div>
  </main>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
